extends layout

block content 
  .page-wrapper
    // ******Header******
    header#header.header
      .container
        .branding
          h1.logo 
              img(src='/assets/images/logo.png')
              span.text-highlight RPG
              span.text-bold API
        // //branding
      
        .top-search-box
          form.form-inline.search-form.justify-content-center(action='' method='get')
            input.form-control.search-input(type='text' placeholder='Search...' name='search')
            button.btn.search-btn(type='submit' value='Search')
              i.fas.fa-search
      // //container
    // //header
    .doc-wrapper
      .container
        
        .doc-body.row
          .doc-content.col-md-9.col-12.order-1
            .content-inner
              section#welcome.doc-section
                h2.section-title Welcome to the RPG API Documentation!
                .section-block
               
                  p Whether you're a beginner developer or seasoned coder, you've come to the right place to explore our straightforward RPG API.
                    | Is designed with simplicity in mind, providing a basic set of endpoints perfect for small exercise applications and learning projects. It's the ideal tool for practicing API integration, honing your coding skills, and experimenting with RPG game mechanics.
                  p So, dive in, explore the possibilities, and start building your own RPG-inspired applications today. Let your imagination run wild and have fun coding!
          
              section#items.doc-section
                h2.section-title Items
                .section-block
                  p Create a fantasy store with items of all clases. 
                    
                  img(src="assets/images/testimage.PNG").sample 
        
        
                #getitems.section-block
                  .code-block
                    h5 
                     span.method-get GET-  
                     span Retrive all item list                    
                    pre
                      code.language-python
                        | fetch('https://rpg-api.com/items') 
                        |.then(res=&gt;res.json()) 
                        |.then(json=&gt;console.log(json))
                    a(href='https://rpg-api.com/items' target='_blank')
                      button.btn.btn-green
                       | View Data 

                #getitemspagination.section-block
                  .code-block
                    h5 
                     span.method-get GET-  
                     span Retrive all item list using pagination  
                    p The default pagesize is 10 .                
                    pre
                      code.language-python
                        | fetch('https://rpg-api.com/items?page=1&pageSize=25') 
                        |.then(res=&gt;res.json()) 
                        |.then(json=&gt;console.log(json))
                    a(href='https://rpg-api.com/items?page=1&pageSize=25' target='_blank')
                      button.btn.btn-green
                       | View Data 
                                       
                #gettypes.section-block
                  .code-block
                    h5 
                     span.method-get GET-  
                     span Retrive all item types
                    pre
                      code.language-python
                        | fetch('https://rpg-api.com/itemTypes') 
                        |.then(res=&gt;res.json()) 
                        |.then(json=&gt;console.log(json))  
                    a(href='https://rpg-api.com/itemTypes' target='_blank')
                      button.btn.btn-green
                       | View Data 

                #getbytype.section-block
                  .code-block
                    h5 
                      span.method-get GET-  
                      span Retrive items filtered by Type
                    pre
                      code.language-python
                        | fetch('https://rpg-api.com/items?type=Weapon') 
                        |.then(res=&gt;res.json()) 
                        |.then(json=&gt;console.log(json))  
                    a(href='https://rpg-api.com/items?type=Weapon' target='_blank')
                      button.btn.btn-green
                       | View Data     
              

                #getitem.section-block
                  .code-block
                    h5 
                      span.method-get GET-  
                      span Retrive one item by id (not _id)
                    pre
                      code.language-python
                        | fetch('https://rpg-api.com/items/ironingot') 
                        |.then(res=&gt;res.json()) 
                        |.then(json=&gt;console.log(json))  
                    a(href='https://rpg-api.com/items/ironingot' target='_blank')
                      button.btn.btn-green
                       | View Data  
                
                #createitem.section-block
                  .code-block
                    h5 
                      span.method-post POST-  
                      span (Simulated) Create a new item
                    pre
                      code.language-javascript
                        | fetch('https://rpg-api.com/items',{
                        |  method:"POST",
                        |  headers: {
                        |     'Content-Type': 'application/json'
                        |  },
                        |  body:JSON.stringify({
                        |         "id": "youID",
                        |         "img": "https://ik.imagekit.io/rpgapi/Items/example.png",
                        |         "name": "New Item",
                        |         "description": "This is a new item",
                        |         "price": 100,
                        |         "type": "Weapon"
                        |      })
                        |  })
                        |  .then(res=>res.json())
                        |  .then(json=>console.log(json))
              
                
                 #updateitem.section-block
                  .code-block
                    h5 
                      span.method-put PUT-  
                      span (Simulated) Update of one item by id (not _id)
                    pre
                      code.language-javascript
                        | fetch('https://rpg-api.com/items/ironsword',{
                        |  method:"PUT",
                        |  headers: {
                        |     'Content-Type': 'application/json'
                        |  },
                        |  body:JSON.stringify({
                        |         "img": "https://ik.imagekit.io/rpgapi/Items/example.png",
                        |         "name": "New Item",
                        |         "description": "This is a new item",
                        |         "price": 100,
                        |         "type": "Weapon"
                        |      })
                        |  })
                        |  .then(res=>res.json())
                        |  .then(json=>console.log(json))  
             

                 #deleteitem.section-block
                  .code-block
                    h5 
                      span.method-delete DELETE-  
                      span (Simulated) Removes one item by id from the database
                    pre
                      code.language-python
                        | fetch('https://rpg-api.com/items/ironingot',{
                        | method:"DELETE"
                        | })
                        | .then(res=>res.json())
                        | .then(json=>console.log(json))
                  
                      
                #shop.section-block
                  .code-block
                    h5 
                     span.method-get GET-  
                     span Retrive 10 random items from database                    
                    pre
                      code.language-python
                        | fetch('https://rpg-api.com/shop') 
                        |.then(res=&gt;res.json()) 
                        |.then(json=&gt;console.log(json))
                    a(href='https://rpg-api.com/shop' target='_blank')
                      button.btn.btn-green
                       | View Data                    
                  
          .doc-sidebar.col-md-3.col-12.order-0.d-none.d-md-flex
            #doc-nav.doc-nav
              nav#doc-menu.nav.doc-menu.flex-column.sticky
                li.nav-item
                  a.nav-link.scrollto(href='#welcome') Welcome              
             
                li.nav-item
                  a.nav-link.scrollto(href='#items') Items
                nav.nav.doc-sub-menu.nav.flex-column
                  li.nav-item
                    a.nav-link.scrollto(href='#getitems') Get Item list
                  li.nav-item
                    a.nav-link.scrollto(href='#gettypes') Get Item types
                  li.nav-item
                    a.nav-link.scrollto(href='#getbytype') Get items by type
                  li.nav-item
                    a.nav-link.scrollto(href='#getitem') Get one item
                  li.nav-item
                    a.nav-link.scrollto(href='#createitem') Create a new item
                  li.nav-item
                    a.nav-link.scrollto(href='#updateitem') Update an item
                  li.nav-item
                    a.nav-link.scrollto(href='#deleteitem') Delete an item
                  li.nav-item
                    a.nav-link.scrollto(href='#shop') Random shop
                li.nav-item
                  a.nav-link.scrollto(href='#items') Other resources
                nav.nav.doc-sub-menu.nav.flex-column
                  li.nav-item
                    a.nav-link.scrollto(href='#getitems') Get monsters
               
script(src='/assets/plugins/bootstrap/js/bootstrap.min.js')
script(src='/assets/plugins/prism/prism.js')
script(src='/assets/plugins/stickyfill/dist/stickyfill.min.js')
script(src='/assets/plugins/gumshoe/gumshoe.polyfills.min.js')
script(src='/assets/plugins/simplelightbox/simple-lightbox.min.js')
script(src='/assets/js/main.js')
